.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.profile img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.profile-name-edits h2{
  border: none;
}
.contact {
  text-align: center;
}
.profile-form {
  width: 45rem;
  margin: auto;
  max-width: 95%;
  padding: 4rem;
  overflow: hidden;
  
}
.name-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.profile-first-name input {
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
}

.profile-last-name input {
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
}
.email-profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile-first-contact input {
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
}
.profile-first-email input {
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
}
.message-profile {
  margin-left: 10px;
}
.profile-action {
  text-align: center;
}
.profile-action button {
  padding: 0.2rem 1rem;
  font-size: x-large;
  border: none;
  background-color: gray;
  border-radius: 4px;
  color: black;
  transition: 3s;
  cursor: pointer;
}
.profile-action button:hover {
  color: hsl(30, 100%, 50%);
  background-color: green;
}
.message-profile {
  padding-left: 2px;
}
