.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profileContainer{
  padding-top: 20px;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 10px;
    
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;   
}

.profile img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.input {
  display: flex;
}
.input input {
  padding: 9px 10px;
  margin: 2px;
}
.email {
  text-align: center;
}
.email input {
  padding: 9px 2rem;
}
.mobile {
  text-align: center;
}
.mobile input {
  padding: 9px 2rem;
}
