.container {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 justify-content: space-between;
}
.category{
  text-align: center;
}
.categoryActions{

}

h1 {
  text-align: center;
}
.categoryList,
button {
  text-align: center;
  padding: 0.6rem 2rem;
  cursor: pointer;
 
}
.Images {
  width: 250px;
  height: 200px;
}
