.container{
    margin-top: 10px;
}
.category{
  text-align: center;
  cursor: pointer;
  
}
.proList{
    
}
.category{
    
}
.images {
    height: 200px;
    width: 200px;
    background-color: gray;
    cursor: pointer;
}