.product_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.container {
  margin: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);  
}
.image{
  height: 150px;
  width: 200px;
}
.product_actions {
  display: flex;
  justify-content: space-around;
  
}
.product_actions button{
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border: none;
  background-color: #232f3e;
  color: #fff;
  border-radius: 2px;
  font-size: medium;
  text-align: center;
}
.product_actions button:hover{
  background-color: #000;
}