/* .image { 
  width: 100%;
  z-index: -1;

  margin-bottom: -22rem;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
@media screen and (max-width: 45rem){
  .image{
    margin-bottom: -10rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

  }
} */
.container{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}
.product{
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
}
.product img{
  width: 225px;
  height: 10rem;
}
.product_rating{
display: flex;
}
.product_actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_actions button {
  cursor: pointer;
}
.product_actions i {
  color: green;
  font-size: x-large;
  cursor: pointer;
}
.chare_cart {
  z-index: 9;
  width: 20rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
 
}
.chare_cart:hover {
  background-color: rgb(244, 229, 229);
}
.chare_cart img {
  height: 200px;
  width: 200px;
}
