.loginContainer {
  margin: 3rem auto;
  text-align: center;
  width: 25rem;
  max-width: 90%;
  background-color: white;
  height: 80vh;
  padding: 1rem;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: hidden;
}
.title {
}
.inputFiled label {
  display: block;
  font-weight: bold;
}
.inputFiled input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin: 10px auto;
  margin-bottom: 0px;
}
.invalid input {
  border: 1px solid rgb(226, 105, 105);
  background-color: #fff;
}
.invalid input:focus {
  border-color: yellow;
  background-color: #fff;
}
.error {
  text-align: start;
  margin-top: 1px;
  margin-bottom: 1px;
  color: rgb(240, 44, 44);
}
.actionButton {
  width: 100%;
}
.actionButton button {
  margin-top: 20px;
  padding: 0.6rem 6rem;
 
}
.actionButton button:hover, button:active{
  cursor: pointer;
}
.actionButton button:disabled,
button:active,
button:hover {  
  background-color: #ccc;
  /* cursor: not-allowed; */
}
