.signupContainer {
  margin: 1rem auto;
  text-align: center;
  width: 25rem;
  max-width: 90%;
  background-color: white;
  height: 100vh;
  padding: 1rem;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.loginContainer h1 {
  margin-bottom: 0.1vh;
}
.inputFiled label {
}
.inputFiled input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin: 10px auto;
  margin-bottom: 0px;
}
.inputFiled .input {
}

.error {
  text-align: start;
  margin-top: 1px;
  margin-bottom: 1px;
  color: rgb(240, 44, 44);
}
.actionButton {
  width: 100%;
}
.actionButton button {
  margin-top: 20px;

  padding: 0.6rem 6rem;
  cursor: pointer;
}
