.imageSlider{

}
.image{
  height: 430px;
  width: 100%;
  position: absolute;
}
 .actions {
display: flex;
justify-content: space-between;

position: relative;
}
.actions button{
  padding: 4rem 0.8rem;
  margin: 9rem 0 0 0;
}

   