.image{
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: -10;  

}
.actions {
display: flex;
justify-content: space-between;
position: relative;
}
.actions button{
  padding: 2rem 0.8rem;
  margin: 3rem 0 0 0;
  cursor: pointer;
  background-color: transparent;
  border: none;  
}
.actions button:active{ 
  border: 2px solid white;
  border-radius: 5px;
}

   